@charset "utf-8";
/* CSS Document */
.chuangkou{
    width: 100%;
    margin-top: 9.541rem;
}
.agentapply{
    width: 300%;
}

.jqm-round-wrap {
    display: block;
    position: relative;
    left: 50%;
    top:0;
    margin-left: -7.9165rem;
    width: 15.833rem;
    height: 15.833rem !important;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    float: left;
}

.jqm-round-sector {
    position: absolute;
    width: 15.833rem;
    height: 15.833rem;
}

.jqm-round-bg {
    position: absolute;
    width: 15.833rem;
    height: 15.833rem;
    /*background-color: #39B4EF;*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 0 10px #39B4EF;
}

.jqm-round-circle {
    position: absolute;
    background-color: #FFF;
    width: 15.583rem;
    height: 15.583rem;
    left: 0.125rem;
    top: 0.125rem;
    z-index: 10;
    border-radius: 50%;
    -webkit-border-radius: 50%;

}
.jqm-round-circle h1{
    font-size: 1.166rem;
    color: #aaa;
    text-align: center;
    font-weight: normal;
    margin-top: 6rem;
}
.jqm-round-circle p {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: #454545;
    margin: 0.5rem 0 0;
}

