/*左侧栏*/
.left-bg {
    width: 100%;
    background: rgba(2, 2, 2, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow: scroll;
    z-index: 12;
}

.home {
    margin-top: 1.75rem;
}

.left-bar {
    width: 18.333rem;
    height: 100%;
    background: #fff;
    font-size: 16px;
    position: relative;
    box-shadow: 5px 0px 20px #898989;
}

.left-he {
    font-size: 1.875rem;
    position: absolute;
    right: 0.26rem;
    top: 1.16666rem;
    color: #626262;

}

.user {
    padding-top: 4.083rem;
}

.user-item {
    width: 2.916rem;
    height: 2.916rem;
    margin-left: 4.166rem;
    display: block;
}

.name {
    font-size: 1rem;
    margin-left: 4.166rem;
    color: #A9A9A9;
}

.name1 {
    color: #2E2E2E;
    font-size: 1.1666rem;
    margin: 0.8333rem 0 0.4166rem 0;
}

.slide-left .fu {
    width: 100%;
}

.fu li {
    position: relative;
    cursor: pointer;
    -moz-transition: all .1s; /* Firefox 4 */
    -webkit-transition: all .1s; /* Safari 和 Chrome */
    -o-transition: all .1s; /* Opera */
}

.current {
    background: #F9F9F9;
}

.fu a {
    padding: 1.21rem 0 1.21rem 4.166rem;
    display: block;
    color: #2E2E2E;
    font-size: 1.333rem;
}

.zi a {
    color: #909090;
}

.fudong-lan {
    width: 0.5rem;
    height: 2.66rem;
    background: #2090FB;
    position: absolute;
    left: 0;
    top: 0.8rem;
    box-shadow: 1px 0px 4px #2090FB;
    display: none;
}

.current-lan {
    display: block;
}

.fu .zi {
    display: none;
}

/*-----------首页 header----------*/
.header {
    height: 4.083rem;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    color: #757575;
    line-height: 4.083rem;

}

.han {
    width: 2.125rem;
    height: 2.5rem;
    background: url("../images/hanbaobao.png") no-repeat center center;
    background-size: 100%;
    position: absolute;
    left: 1.25rem;
    top: 0.7915rem;
}

.logo {
    width: 5rem;
    height: 2.5rem;
    position: absolute;
    right: 1.25rem;
    top: 0.7915rem;
}

.shuxing {
    color: #AAAAAA;
    font-size: 1.0833rem;
}

.money {
    color: #454545;
    font-size: 2.5rem;
}

.money1 {
    font-size: 1.666rem;
    margin-top: 0.2rem;
}

.border-right-bg {
    width: 1px;
    height: 1.666rem;
    background: #D8D8D8;
    position: absolute;
    top: 2.183rem;
    right: 0;
}

.gonggao {
    padding: 2rem 1.25rem;
}

.gonggao-item {
    padding: 2rem 1.25rem;
}

.gonggao-title {
    font-size: 1.25rem;
    color: #464646;
    margin-bottom: 0.4rem;
}

.gonggao-item p {
    font-size: 1.083rem;
    color: #767676;
    line-height: 1.5rem;
}

.star {
    margin-top: 0.4rem;
}

.star i {
    font-size: 1rem;
}

.star-hui {
    color: #C7C7C7;
}

.star-huang {
    color: #E19B3B;
}

.star-cheng {
    color: #E2754E;
}

.star-red {
    color: #EC515C;
}

.star span {
    font-size: 1rem;
    color: #AAAAAA;
}

/*-------公告-详情------*/
.gonggao-back {
    width: 2.125rem;
    height: 2.5rem;
    position: absolute;
    left: 1.25rem;
    top: 0.7915rem;
    line-height: 2.5rem;
}

.gonggao-back a {
    display: block;
    width: 100%;
    height: 100%;
}

.gonggao-back i {
    font-size: 1.833rem;
    color: #626262;
}

.gonggao-xq-title {
    padding: 1.833rem 0 1rem;
}

.gonggao-xq-title1 {
    font-size: 1.333rem;
}

.gonggao-con p {
    font-size: 1.083rem;
    color: #767676;
    line-height: 2rem;
    margin: 1rem 0;
    text-indent: 2em;
}

.gonggao-con .te-p {
    text-indent: 0em;
    margin-top: 1.5rem;
}

/*-------入金-------*/
.Input {
    border: 1px solid #4A84FF;
    box-shadow: 0px 0px 6px #4A84FF;
    border-radius: 0;
}

.InputBank {
    color: #757575;
    font-size: 1.166rem;
    height: 4.166rem;
    line-height: 4.166rem;
    position: relative;
    border-bottom: 1px solid #4A84FF;
    box-shadow: 1px 0px 6px #4A84FF;
}

.bank-back {
    width: 2.125rem;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 0.7915rem;
    line-height: 2.5rem;
}

.bank-back a {
    display: block;
    width: 100%;
    height: 100%;
}

.bank-back i {
    font-size: 1.833rem;
    color: #626262;
}

.money-title {
    font-size: 1rem;
    color: #5E5E5E;
}

.bank-con input {
    font-size: 4.166rem;
    color: #454545;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C7C7C7;
    border-radius: 0;
    margin: 1rem 0 1.25rem;
}

.RMB {
    color: #767676;
    font-size: 1.083rem;
}

button {
    width: 100%;
    height: 3.25rem;
    background: #2090FB;
    box-shadow: 0 2px 6px #2090FB;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    margin-top: 2.75rem;
}

.RMB span {
    border-bottom: 1px solid #979797;
    float: right;
    margin-top: -1px;
}

.choose-banks {
    font-size: 1.333rem;
    color: #5D5D5D;
}

.banks-click {
    box-shadow: 0 0 14px #ccc;
}

.bank-step {
    width: 90%;
    line-height: 5rem;
    font-size: 1.25rem;
    position: fixed;
    bottom: 0;
    left: 5%;
    background: #fff;
}

.bank-right-bg {
    height: 3.416rem;
    top: 0.7916rem;
    background: #909090;
}

/*-----出金-------*/
.Out-choose {
    line-height: 3.75rem;
}

.Out-choose-a {
    margin: 0.1rem 1.166rem 0 0;
    float: left;
}

.bank-con {
    padding-bottom: 3.916rem;
}

.bank-chu {
    position: relative;
}

.bank-chu a {
    display: block;
}

.bank-chu-bg {
    background: #E3E3E3;
}

.bank-con img {
    margin-top: 1.35rem;
}

.bank-con .kahao {
    position: absolute;
    bottom: 12%;
    left: 20%;
    color: #5E5E5E;
    font-size: 1.5rem;
}

/*-----修改密码-----*/
.setpassword {
    margin-top: 3.5rem;
}

.password {
    font-size: 1.083rem;
    color: #909090;
}

.focus-input input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #C7C7C7;
    border-radius: 0;
    padding: 0.5rem 0;
    color: #454545;
}

.focus-current {
    border-bottom: 1px solid #2090FB !important;
    box-shadow: 0px 4px 1px #dceeff;
}

.focus-zi {
    color: #2190FB !important;
}

.search-current {
    border: 1px solid #2090FB !important;
    box-shadow: 0px 0px 5px #dceeff;
}

.setpassword-success {
    position: absolute;
    top: 4.083rem;
    left: 0;
    display: none;
}

/*-----找回密码----*/
.focus-text {
    color: #ABABAB;
    position: relative;
}

.findpassword {
    margin-top: 2rem;
}

.email-phone-find {
    color: #ABABAB;
    font-size: 1.25rem;
    border-bottom: 1px solid #D8D8D8;
    line-height: 3.5rem;
    margin-bottom: 1.8rem;
    position: relative;
}

.current-find {
    color: #454545;
    border-bottom: 1px solid #2090FB;
}

.find-con {
    width: 100%;
    position: absolute;
    top: 6rem;
    left: 0;
    display: none;
}

.find-con-dis {
    display: block;
}

.next-button {
    width: 100%;
    height: 3.25rem;
    background: #2090FB;
    box-shadow: 0 2px 6px #2090FB;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    margin-top: 14rem;
    line-height: 3.25rem;
    text-align: center;
}

.password-group {
    position: relative;
    margin: 0 0 1.8rem;
}

.error {
    color: #FD757C;
}

.sure {
    color: #2090FB;
}

.password-group i {
    position: absolute;
    right: 0;
    top: 1.8rem;
    font-size: 1.5rem;
}

.password-group span {
    position: absolute;
    right: 2rem;
    top: 1.9rem;
    font-size: 1.166rem;
    color: #ABABAB;
}

.reset {
    display: none;
}

/*登录*/
.password-group p {
    font-size: 0.916rem;
}

/*注册*/
.tishi4 {
    width: 100%;
    position: absolute;
}

.tishi-top {
    width: 25%;
    height: 2px;
    background: #4A84FF;
    position: absolute;
    left: 0;
    top: -2rem;
}

.tishi-top2 {
    left: 25%;
}

.tishi-top3 {
    left: 50%;
}

.tishi-top4 {
    left: 75%;
}

.select {
    height: 30px;
    width: 33.33%;
    text-align: center;
    overflow: hidden;
    float: left;
    border-bottom: 1px solid #C7C7C7;
    line-height: 30px;
    position: relative;
}

.select select {
    width: 120%;
    border: none;
    height: 100%;
    color: #454545;
}

.border-right-bg1 {
    height: 1.4rem;
    top: 0.65rem;
}

.upload-idcard, .zhuce-success {
    font-size: 1.083rem;
    color: #767676;
    margin-bottom: 1.6rem;
}

.idcard-zheng {
    color: #AAAAAA;
    font-size: 1.166rem;
}

.idcard-img {
    margin: 0.416rem 0 1.333rem;
}

.zhuce-success {
    margin-bottom: 1.833rem;
}

.not-email {
    font-size: 1.083rem;
    color: #2190FB;
    margin-top: 1.166rem;
    display: block;
}

.user-head {
    margin: 0.791rem 0;
}

.uesr-title {
    font-size: 1.166rem;
    color: #AAAAAA;
}

.uesr-content {
    font-size: 1.416rem;
    color: #454545;
    border: none;
    margin-bottom: 2rem;
    width: 100%;
}

.select-bordernone {
    border-bottom: none;
}

.select-bordernone select {
    width: 130%;
    background: none;
    border-radius: 0;
}

.idcardinfo {
    font-size: 1.333rem;
    color: #454545;
    margin: 0.8rem 0 1rem;
}

/*银行信息*/
.zhu {
    color: #A9A9A9;
    font-size: 1.083rem;
    margin-top: 5rem;
}

/*下级用户*/
.search {
    width: 92%;
    border-radius: 50px;
    border: 1px solid #AAAAAA;
    margin: 0.666rem auto 0;
    position: relative;
}

.search input {
    border: none;
    margin-left: 1.25rem;
    padding: 0.5rem 0;
    color: #A9A9A9;
    font-size: 1.083rem;
    width: 90%;
}

.search-icon {
    position: absolute;
    right: 1.25rem;
    top: 0.291rem;
}

.date {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    margin-top: 0.666rem;
    font-size: 1.083rem;
    color: #ABABAB;
}

.date input {
    border: none;
    font-size: 1.166rem;
    color: #454545;
}

#datefrom {
    width: 60%;
    margin-left: 5%;
}

#dateto {
    text-align: right;
    width: 60%;
    margin-right: 5%;
}

.date-border-right-bg {
    top: 0;
}

.agentuser {
    width: 200%;
}

.agentuser-item {
    width: 50% !important;
    height: 3.75rem;
    line-height: 3.74rem;
    font-size: 1.25rem;
    color:#5D5D5D ;
    vertical-align: middle;
    /*padding: 1.25rem 0;*/
}
.agentuser-item img{
    margin-right: 1.25rem;
    vertical-align: middle;
}
.agent-border-bottom{
    border-bottom: 1px solid #D8D8D8;
}
.agent-right{
    width: 8rem;
    height: 100%;
    text-align: right;
    margin-right: 1.25rem;
}
.cir{
    width: 0.416rem;
    height: 0.416rem;
    border-radius: 50%;
    border: 1px solid #C7C7C7;
    margin: 1.77rem 0.333rem 0 0;
}
.lower-info{
    display: inline-block;
    color: #8F8F8F;
    position: relative;
}
.lower-info a{
    color:#2190FB ;
    font-size: 1.166rem;
}
.lower-border{
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0;
}
.border-red{
    border-bottom:1px solid #FD757C;
}
.border-yellow{
    border-bottom:1px solid #FDCD50;
}
.border-blue{
    border-bottom:1px solid #4A84FF;
}
.border-green{
    border-bottom:1px solid #16D578;
}


/*代理申请记录*/
.zhuangtai{
    text-align: center;
    font-size: 1.25rem;
}
.current-active{
    color: #454545;
}
.zhuangtai-card{
    color:#454545;
    border: 1px solid #E2E2E2;
    margin: 1.666rem 1.25rem;
}
.zhuangtai-top{
    font-size: 1.25rem;
    line-height: 3.333rem;
    border-bottom: 1px solid #E2E2E2;
}
.zhuangtai-border-right-bg{
    top:0.8rem;
}
.zhuangtai-green{
    color: #4AB253;
}
.zhuangtai-red{
    color: #EC4856;
}
.zhuangtai-hui{
    color: #A9A9A9;
}

/*历史订单*/
.search1{
    width: 82%;
    float: right;
    margin-right: 1.25rem;
}
.tongji-he{
    color: #A9A9A9;
    font-size: 1.083rem;
    margin:1.25rem 0 ;
}
.tongji-he div{
    margin-right: 5%;
    float: left;
}
.his-size{
    font-size: 1.25rem;
}
.his-red{
    color: #FD757C;
}
.his-green{
    color: #16D578;
}
.history{
    width: 100%;
    display: inline-block;
}
.history img{
    margin-right: 0.833rem;
    margin-top: 1px;
}
.his1{
    font-size: 1.083rem;
    color: #5D5D5D;
}
.his-zi{
    padding:0 0 1rem 1.2rem;
    margin:0 0 0.5rem 7px;
    border-left: 1px solid #D8D8D8;
}
.his2{
    font-size: 1.166rem;
    color: #AAAAAA;
    margin-top: 0.8rem;
}
.his3{
    font-size:2rem;
    color: #454545;
}
.his4{
    font-size:1.083rem;
    color: #AAAAAA;
}
.his5{
    font-size:1.083rem;
    color: #5D5D5D;
    margin:0.8rem 0 0rem;
}
.his-size span{
    margin: 0.5rem 0 1.5rem 0;
    display: block;
}